pkgbase = biomejs-bin
	pkgdesc = A toolchain for the web: formatter, linter and more
	pkgver = 2.3.15
	pkgrel = 1
	url = https://github.com/biomejs/biome
	arch = x86_64
	arch = aarch64
	license = MIT OR Apache-2.0
	provides = biome
	source_x86_64 = biome::https://github.com/biomejs/biome/releases/download/@biomejs/biome@2.3.15/biome-linux-x64
	sha256sums_x86_64 = 9ba930dad8cb4db73827a9cf048bd49d65f533272ae7f88926cc7a388c5c2c80
	source_aarch64 = biome::https://github.com/biomejs/biome/releases/download/@biomejs/biome@2.3.15/biome-linux-arm64
	sha256sums_aarch64 = 9ba930dad8cb4db73827a9cf048bd49d65f533272ae7f88926cc7a388c5c2c80

pkgname = biomejs-bin
